name: Godot Build

on:
  workflow_call:
    inputs:
      channels:
        description: 'Channels to build'
        required: true
        type: string
      steam_app:
        description: 'Steam App ID'
        type: number
        default: 430
        required: true
      godot-version:
        description: 'Godot version'
        type: string
        default: '4.3'
      project-path:
        description: 'Path to the project'
        type: string
        default: '.'
      assets-path:
        description: 'Path to the assets relative to the project'
        type: string
        default: 'assets'
      env-build-file:
        description: 'Path to the build env file relative to the project'
        type: string
        default: 'build.gd'

    secrets:
      ENCRYPTION_KEY:
        description: 'Encryption key'
        required: false
      GAME_CODE:
        description: 'Game code'
        required: false
      ASSETS_PASSWORD:
        description: 'Password for the assets'
        required: false
    
    outputs:
      game: ${{ jobs.build-game.outputs.game }}

jobs:
  generate-password:
    runs-on: ubuntu-latest
    outputs:
      password: ${{ steps.random-password.outputs.password }}
    steps:
      - uses: kuma-gee/action-godot/password@main
        id: random-password
        with:
          length: 24
  
  build-game:
    runs-on: ubuntu-latest
    needs: generate-password
    container: barichello/godot-ci:${{ inputs.godot-version }}
    strategy:
      matrix:
        channel: ${{ fromJson(inputs.channels) }}
    outputs:
      game: ${{ steps.game-name.outputs.game }}
    steps:
      - uses: actions/checkout@v4

      - name: Unpack protected assets
        if: env.ASSETS_PASSWORD
        uses: kuma-gee/action-protect-assets@v1
        with:
          path: ${{ inputs.project-path }}/${{ inputs.assets-path }}
          password: ${{ secrets.ASSETS_PASSWORD }}
        env:
          ASSETS_PASSWORD: ${{ secrets.ASSETS_PASSWORD }}

      - name: Create Godot Environment File
        uses: kuma-gee/action-godot/godot-env@main
        with:
          output: ${{ inputs.project-path }}/${{ inputs.env-build-file }}
          code: ${{ secrets.GAME_CODE }}
          version: ${{ github.ref_name }}
          steam-app: ${{ inputs.steam_app }}

      - name: Setup Templates
        uses: kuma-gee/action-godot-template/setup@v1
        with:
          version: ${{ inputs.godot-version }}
          channel: ${{ matrix.channel }}
          encryption-key: ${{ secrets.ENCRYPTION_KEY }}
          game-folder: ${{ inputs.project-path }}

      - uses: kuma-gee/action-godot/godot-build@main
        with:
          channel: ${{ matrix.channel }}
          output: build
          game-folder: ${{ inputs.project-path }}
          password: ${{ needs.generate-password.outputs.password }}
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-${{ matrix.channel }}
          path: build/*.zip